<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591843946072-hdfad5jrkiacg9vpaqkcanm1u9i78gko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591843946072-hdfad5jrkiacg9vpaqkcanm1u9i78gko</string>
	<key>API_KEY</key>
	<string>AIzaSyAHilICN24vuRmJVnGuSqgKCo3dYlD-6No</string>
	<key>GCM_SENDER_ID</key>
	<string>591843946072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damla.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-f3845</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-f3845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:591843946072:ios:5d8e85af10ab3fd7bee42d</string>
</dict>
</plist>
